<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        table, th, td {
            border:1px solid black;
        }
    </style>
</head>
<body>

<div class="topnav">
    <a class="active" href="/user">Home</a>
    <a href="/logOut">Log Out</a>
    <a href="/personalCabinet">Personal cabinet</a>

</div>

<div style="padding-left:16px">
    <h2>Serch stocks by SYMBOL</h2>
    <form class="center" action="/search">
        <br><label>Search</label>
        <br>
        <input type="text" id="search" name="search">
        <input type="submit" value="Ok">
    </form>
    <br>
    <h2>Buy stocks by SYMBOL</h2>
    <form class="center" method="post">
        <br><label>Stock to buy</label>
        <br>
        <input type="text" id="buyStock" name="buyStock">
        <br><label>Amount of stock to buy</label>
        <br>
        <input type="text" id="buyStockAmount" name="buyStockAmount">
        <br>
        <br><input type="submit" value="Buy">
    </form>
    <br>
    <br>
    <table style="width:100%">
        <tr>
            <th>Logo</th>
            <th>Company</th>
            <th>Symbol</th>
            <th>Current price</th>
            <th>High price of the day</th>
            <th>Low price of the day</th>
            <th>Percent change</th>
        </tr>
        <tr>
            {% for stock in stocks %}
                <tr>
                    <td><img src="{{ stock.getLogo }}" alt="Logo"></td>
                    <td><p>{{ stock.getName }}</p></td>
                    <td><p>{{ stock.getSymbol }}</p></td>
                    <td><p>{{ stock.getCurrentPrice }}</p></td>
                    <td><p>{{ stock.getHighPriceOfDay }}</p></td>
                    <td><p>{{ stock.getLowPriceOfDay }}</p></td>
                    <td><p>{{ stock.getPercentChange }}</p></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</div>

</body>
</html>